Add project keystore to root project directory as 'project.jks'.

Values for the store password and key password should be added to
'secure.properties' also in the root directory. This file can be
can be created by copying secure.properties.tmpl.
